<!--
@Author: Chris Stoll <chrisstoll>
@Date:   2016-10-11T01:25:01-07:00
@Email:  chrispstoll@gmail.com
@Last modified by:   chrisstoll
@Last modified time: 2016-10-25T23:35:16-07:00
@License: MIT
-->

<div class='channel-slot'>
  {{#each channels as |channel index|}}
    {{channel-strip
      keyEvent=keyEvent
      channel=channel
      channelNumber=channel.number
      volume=channel.volume
      pan=channel.pan
      mute=channel.mute
      solo=channel.solo
      triggered=channel.triggered
      sourceLabel=channel.sourceLabel
      selectedChannel=selectedChannel
      onTrigger=(action 'triggerSource')
      onPanChange=(action 'panChannel')
      onVolumeChange=(action 'channelVolume')
      onEqChange=(action 'eqChange')
      onSelectSource=(action 'selectSource')
      onSelect=(action 'selectChannel')
      onMute=(action 'muteChannel')
      onSolo=(action 'soloChannel')
    }}
  {{/each}}
  {{#master-channel-strip
    keyEvent=keyEvent
    channel=masterChannel
    classNames='master'
    volume=masterChannel.volume
    pan=masterChannel.pan
    channelNumber=masterChannel.number
    selectedChannel=selectedChannel
    onPanChange=(action 'panChannel')
    onSelect=(action 'selectChannel')
    onVolumeChange=(action 'channelVolume')
    onEqChange=(action 'eqChange')
  }}
    <div class='midi'>
      <label> MIDI </label>
      <select class='midi-device' onChange={{action 'onChangeMidiDevice'}}>
        {{log midiInputs}}
        {{#each-in midiInputs as |key midiInput|}}
          <option value={{midiInput.id}}>
            {{midiInput.manufacturer}} {{midiInput.name}}
          </option>
        {{/each-in}}
      </select>
      <label class='midi-channel'>Channel:
        <select class='midi-channel' onChange={{action 'onChangeMidiChannel'}}>
          {{#each midiChannels as |channel|}}
            <option value={{channel}} selected={{eq channel midiChannel}}>{{channel}}</option>
          {{/each}}
        </select>
      </label>
    </div>
  {{/master-channel-strip}}
</div>
<div class='sequencer-slot'>
  {{beat-sequencer
    timeSignature=project.timeSignature
    playingDivision=playingDivision
    pattern=selectedPattern
    divisions=project.divisions
    selectedChannel=selectedChannel
    length=pattern.length
    onChange=(action 'setPattern')
  }}
</div>
{{yield}}
