<h1>{{channel.label}}</h1>
{{source-picker label=sourceLabel output=channel onSelectSource=(action 'onSelectSource')}}
{{eq-panel frequencies=eqFrequencies}}
{{pan-knob value=pan onPanChange=(action 'onPanChange')}}
{{volume-fader onChange=(action 'onVolumeChange') gain=gain}}
<div class='mute-solo'>
  <button class='mute' onClick={{action 'onMute'}}>M</button>
  <button class='solo' onClick={{action 'onSolo'}}>S</button>
</div>
<div
  class='trigger-pad'
  onClick={{action 'onTrigger'}}
>
  {{#unless mute}}
  {{#if triggered}}
    <div class='light' style={{style}}></div>
  {{/if}}
  {{/unless}}
</div>
{{yield}}
