<!--
@Author: Chris Stoll <chrisstoll>
@Date:   2016-10-11T01:25:01-07:00
@Email:  chrispstoll@gmail.com
@Last modified by:   chrisstoll
@Last modified time: 2016-10-29T01:35:59-07:00
@License: MIT
-->


{{#source-picker accept="audio/*" label=sourceLabel output=channel onSelectSource=(action 'onSelectSource')}}
  <h2 class='channel-label'>{{channel.label}}</h2>
  {{wave-viz sample=channel.sample}}
{{/source-picker}}
{{eq-panel bands=channel.eq onEqChange=(action 'onEqChange')}}
{{pan-knob value=pan onPanChange=(action 'onPanChange')}}
{{volume-fader onChange=(action 'onVolumeChange') volume=volume selectedChannel=selectedChannel channelNumber=channelNumber}}
<div class='mute-solo'>
  <div class='mute' onClick={{action 'onMute'}}>
    <div class='light'></div>
    <div class='label'>M</div>
  </div>
  <div class='solo' onClick={{action 'onSolo'}}>
    <div class='light'></div>
    <div class='label'>S</div>
  </div>
</div>
<div
  class='trigger-pad'
  onClick={{action 'onTrigger'}}
>
  {{#unless mute}}
  {{#if triggered}}
    <div class='light' style={{style}}></div>
  {{/if}}
  {{/unless}}
</div>
{{yield}}
