<h1>{{channel.label}}</h1>
{{source-picker label=sourceLabel output=channel onSelectSource=(action 'onSelectSource')}}
{{eq-panel bands=channel.eq onEqChange=(action 'onEqChange')}}
{{pan-knob value=pan onPanChange=(action 'onPanChange')}}
{{volume-fader onChange=(action 'onVolumeChange') volume=volume selectedChannel=selectedChannel channelNumber=channelNumber}}
<div class='mute-solo'>
  <div class='mute' onClick={{action 'onMute'}}>
    <div class='light'></div>
    <div class='label'>M</div>
  </div>
  <div class='solo' onClick={{action 'onSolo'}}>
    <div class='light'></div>
    <div class='label'>S</div>
  </div>
</div>
<div
  class='trigger-pad'
  onClick={{action 'onTrigger'}}
>
  {{#unless mute}}
  {{#if triggered}}
    <div class='light' style={{style}}></div>
  {{/if}}
  {{/unless}}
</div>
{{yield}}
