<div class='mixer-slot'>
</div>
<div class='channel-slot'>
  {{#each channels as |channel|}}
    {{channel-strip
      channel=channel
      channelNumber=channel.number
      gain=channel.gain
      pan=channel.pan
      mute=channel.mute
      solo=channel.solo
      triggered=channel.triggered
      sourceLabel=channel.sourceLabel
      selectedChannel=selectedChannel
      onTrigger=(action 'triggerSource')
      onPanChange=(action 'panChannel')
      onVolumeChange=(action 'channelVolume')
      onSelectSource=(action 'selectSource')
      onSelect=(action 'selectChannel')
      onMute=(action 'muteChannel')
      onSolo=(action 'soloChannel')
    }}
  {{/each}}
  {{master-channel-strip
    channel=masterChannel
    classNames='master'
    gain=masterChannel.gain
    pan=masterChannel.pan
    channelNumber=masterChannel.number
    selectedChannel=selectedChannel
    onPanChange=(action 'panChannel')
    onSelect=(action 'selectChannel')
    onVolumeChange=(action 'channelVolume')
  }}
</div>
<div class='sequencer-slot'>
  {{beat-sequencer divisions=sequencerDivisions}}
</div>
<div class='transport-panel-slot'>
  {{transport-panel tempo=tempo division=division}}
</div>
{{yield}}
