<input type='range' value='{{sliderValue}}' onInput={{action 'sliderChange'}} min='0' max='100' orient="vertical"/>
<div class='value'>{{volume}}</div>
<div class='scale'>
  {{#each scale as |tick|}}
    <div class='tick' style={{tick.style}}>
      <label>{{tick.value}}</label><div class='rule'></div><label>{{tick.value}}</label>
    </div>
  {{/each}}
</div>
{{yield}}
